.flack
  .flack__container.container.container--w625
    .flack__info
      | Вопросы по бронированию билетов в нашей авиакомпании принимаются. Для этого можно оставить
      = " "
      a.flack__link(href="#") заявку на сайте
      = " "
      | или же позвонить по номеру круглосуточной поддержки
      = " "
      a.flack__phone(href="tel:+78000039210") 8 (800) 00-392-10
      = "."