$text-color-contrast: #1c5bc4;
$text-color-light: #ffffff;
$text-color-main: #221f1f;
$text-color-dark: #212121;
$text-color-grey: #656464;
$bg-color-blue:  #1c5bc4;
$bg-color-green: #4bb56b;
$bg-color-grey: #f5f5f5;
$bg-color-light: #ffffff;