-
  var menu = [
    {
      link: "./airplanet.html",
      name: "Главная",
      modifier: "main",
    },
    {
      link: "./comments.html",
      name: "Отзывы",
      modifier: "comments",
    },
    {
      link: "./team.html",
      name: "Экипаж",
      modifier: "team"
    }
  ]