-
  var partners = [
    {
      imgPath: "partners1.png",
      title: "BMP Company",
    },
    {
      imgPath: "partners2.png",
      title: "TETRA Install",
    },
    {
      imgPath: "partners3.png",
      title: "Сибирские Авиалинии",
    },
    {
      imgPath: "partners4.png",
      title: "ONE AIR",
    },
    {
      imgPath: "partners5.png",
      title: "BingAir",
    },
    {
      imgPath: "partners6.png",
      title: "УРАЛ",
    }
  ]