-
  var tariffs = [
    {
      title: "стандарт",
      text: "Создан для вашего комфортного отдыха",
      list: [
        "Питание включено",
        "Багаж (5 кг)",
        "Детское кресло"
      ],
      price: "19",
      iconModifier: "flower"
    },
    {
      title: "премиум",
      text: "Для любителей хороших впечатлений",
      list: [
        "Питание включено",
        "Багаж (5 кг)",
        "Детское кресло"
      ],
      price: "39",
      iconModifier: "star"
    },
    {
      title: "лакшери",
      text: "Всё самое лучшее и незабываемое",
      list: [
        "Питание включено",
        "Багаж (5 кг)",
        "Детское кресло"
      ],
      price: "99",
      iconModifier: "palette"
    }
  ]